*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #434455;
    background-color: #0e1823;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

/* common */

.container {
    max-width: 375px;
    padding: 0 16px;
    margin: 0 auto;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

}
/* #region HEADER */
.page-header {
    max-width: 343px;
        margin: 20px auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    padding: 0 16px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.logo {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #1b414b;
}
.nav-list {
    display: none;
}
.burger-btn {
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
            width: 28px;
            height: 28px;
}

.burger-icon {
    stroke: #1b414b;
        fill: none;
}
.header-socials {
    display: none;
}
/* #endregion */

/* #region HERO */
.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            -webkit-image-set(url('../images/mobile/image-mobile@1x.jpg') 1x,
                url('../images/mobile/image-mobile@2x.jpg') 2x);
    
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    margin: 0;
    padding: 198px 0;
}
.hero-title {
    font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fbfbfb;
        margin: 0 auto 24px;
}
.hero-text {
    font-family: "Inter", sans-serif;
    font-weight: 300;
        font-size: 12px;
        line-height: 117%;
        text-align: center;
        color: rgba(251, 251, 251, 0.7);
        margin: 0 auto 38px;
}
.hero-btn {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    border-radius: 15px;
    border: none;
    width: 141px;
    height: 46px;
    background-color: #1b414b;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease, color 0.3s ease;
}
/* #endregion */

/* #region ABOUT*/
.about {
    padding-bottom: 60px;
        background-color: #0E1823;
        /* Темний фон всієї секції */
}
.about-content {
    min-height: 600px;
    display: flex;
        flex-direction: column;
    background-color: #fbfbfb;
    border-radius: 24px;
    padding: 40px 20px;
    padding-bottom: 300px;
    margin-top: -60px;
    position: relative;
    z-index: 1;
}
.about-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.07;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin-bottom: 40px;
}

.about-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.29;
    color: #040306;
    margin-bottom: 20px;
}

.about-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
    
}
.about-photo {
    margin-top: 24px;
    border-radius: 24px;
    overflow: hidden;
    margin-top: -250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
}

.about-photo img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;

}
/* #endregion */

/* #region YACHTS */
.yachts {
    padding: 80px 0;
    background-color: #0e1823;
    /* Темний фон як у Hero */
}
.yachts-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.07;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 40px;
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
}
.yacht-card {
    background-color: #fbfbfb;
    border-radius: 24px;
    padding: 16px;
    max-width: 335px;
    margin: 0 auto;
}
.yacht-img {
    border-radius: 24px;
    margin-bottom: 32px;
}
.yacht-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(27, 65, 75, 0.1);
    padding: 16px

}
.yacht-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #1b414b;
}

.yacht-category {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color: #040306;
    text-transform: uppercase;
    opacity: 0.4;
}
.yacht-details {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 16px;
}
.detail-item {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.detail-item span:first-child {
    color: rgba(27, 65, 75, 0.5);
    text-transform: uppercase;
}
.detail-item span:last-child {
    color: #1b414b;
}
.yacht-rental-btn {
    display: block;
    margin: 32px auto 0;
    padding: 12px 28px;
    border: 1px solid rgba(251, 251, 251, 0.35);
    background: transparent;
    color: #fbfbfb;
    border-radius: 15px;
    font-size: 14px;
    transition: background-color 0.3s ease, 
                    color 0.3s ease, border-color 0.3s ease;
}
.yacht-rental-btn:hover {
    background-color: #fbfbfb;
    color: #1b414b;
    border-color: #fbfbfb;
    box-shadow: none;
}
/* 1. МОБІЛКА (до 767px включно) */

    .yachts-item:nth-child(n+2) {
        display: none;
        /* Показуємо тільки ПЕРШУ картку */
    }
/* #endregion */

/* #region --ACTIVITIES-- */
.activities {
    padding-bottom: 0;
}
.activities-wrapper {
    background-color: #1b414b;
    border-radius: 24px;
    padding: 80px 20px;
}
.activities-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.activities-item {
    display: flex;
    flex-direction: column;
}
/* Лінія розмежування */
.activities-num::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 18px;
    height: 2px;
    background-color: rgba(251, 251, 251, 0.1);
    /* Тонка світла лінія */
}
.activities-num {
    display: block;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #fbfbfb;
    /* Додаємо відступ до лінії */
        padding-bottom: 18px;
        margin-bottom: 18px;
        /* Створюємо лінію */
            position: relative;
}
.activities-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    opacity: 0.8;
}
/* Прибираємо марджин у останнього тексту, щоб не було зайвого відступу внизу картки */
.activities-item:last-child .activities-text {
    margin-bottom: 0;
}
.activities-banner {
    width: 100%;
    height: 424px;
    margin: 24px auto 0 auto;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 24px;
    /* Якщо фото має бути закругленим, як на макетах */

    /* Стандартне фото для звичайних екранів */
    background-image: url('../images/mobile/Photo-banner@1x (1).jpg');
}/* Retina 2x */
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .activities-banner {
        background-image: url('../images/mobile/Photo-banner@2x (1).jpg');
    }
}

/* #endregion */

/* #region --RENT-- */
.rent {
    padding-top: 80px;
    padding-bottom: 80px;
}

.rent-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 40px;
}
.rent-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 335px;
}

.rent-input,
.rent-textarea {
    font-weight: 400;
    width: 100%;
    padding: 14px 18px;
    background-color: transparent;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    color: #fbfbfb;
    font-size: 12px;
    outline: none;
    transition: border-color 0.3s;
}

.rent-input::placeholder,
.rent-textarea::placeholder {
    color: rgba(251, 251, 251, 0.5);
}

.rent-input:focus,
.rent-textarea:focus {
    outline: none;
        border-color: #fbfbfb;
        /* Робимо рамку яскраво-білою при натисканні */
        background-color: rgba(251, 251, 251, 0.05);
        /* Легка заливка, щоб виділити поле */
}

.rent-textarea {
    height: 120px;
    resize: none;
    /* Забороняємо змінювати розмір вручну */
}

.rent-submit-btn {
    display: block;
        margin-top: 40px;
        margin-bottom: 80px;
        padding: 12px 40px;
        background-color: #1b414b;
        color: #fbfbfb;
        border: none;
        border-radius: 15px;
        font-weight: 500;
        transition: background-color 0.3s ease, 
                    color 0.3s ease, border-color 0.3s ease;
        cursor: pointer;
}

.rent-submit-btn:hover,
.rent-submit-btn:focus,
.hero-btn:hover,
.hero-btn:focus {
    background-color: #fbfbfb;
    color: #1b414b;
    border-color: #fbfbfb;
    outline: none;
}
.rent-photo-banner {
    width: 335px;
    height: 412px;
    border-radius: 24px;

    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/mobile/photo-rent@1x.jpg');
}

/* Retina 2x */
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .rent-photo-banner {
        background-image: url('../images/mobile/photo-rent@2x.jpg');
    }
}
/* #endregion */

/* #region --REVIEWS-- */
.reviews {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #0e1823;
    /* Темний фон як у всієї сторінки */
}
.reviews-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 1;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fbfbfb;
        margin-bottom: 25px
}
.reviews-description {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fbfbfb;
        opacity: 0.4;
        margin-bottom: 40px;
}
.review-card {
    background-color: #fbfbfb;
    border-radius: 24px;
    padding: 32px 8px;
    text-align: center;
    max-width: 335px;
    margin: 0 auto;
}
.review-author-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
}
.review-avatar {
    border-radius: 50%;
    object-fit: cover;
}
.review-author-name {
    font-weight: 500;
    padding-top: 24px;
    font-size: 18px;
    line-height: 1.22;
    color: #1b414b;
}

.review-comment {
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: rgba(27, 65, 75, 0.7);
}
/* #endregion */

/* #region --FOOTER-- */
.footer {
    max-width: 355px;
        width: 100%;
    background-color: #1b414b;
    border-radius: 24px 24px 0 0;
    padding: 40px 0 20px 0;
    color: #fbfbfb;
    text-align: center;
    margin: 0 auto;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.footer-logo {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #fbfbfb;
    text-transform: lowercase;
}
.footer-nav {
    display: flex;
    gap: 4px;
}
.footer-link {
    font-weight: 400;
    font-size: 9px;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    color: #fbfbfb;
    background-color: rgba(251, 251, 251, 0.3);
    text-transform: uppercase;
        transition: all 0.3s ease;
        /* Плавна зміна всіх властивостей */
    
}
.footer-link:hover,
.footer-link:focus {
    background-color: #fbfbfb;
    color: #1b414b;
    outline: none;
    /* Прибираємо стандартний фокус браузера */
}

.socials-list {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 24px;
}
.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

/* Стан для іконок при ховері та фокусі */
.social-link:hover,
.social-link:focus {
    border-color: #fbfbfb;
    background-color: rgba(251, 251, 251, 0.1);
    outline: none;
    transform: translateY(-3px);
    /* Легкий підйом вгору */
}

/* Стиль самої іконки (SVG) */
.social-icon {
    fill: #fbfbfb;
    transition: fill 0.3s ease;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: rgba(251, 251, 251, 0.8);
    /* Стає чисто білою при наведенні */
}
.footer-tagline {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
        text-align: center;
        color: #fbfbfb;
    max-width: 280px;
    margin: 0 auto 82px;
}
.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    font-size: 10px;
}
.copyright {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: center;
        color: rgba(251, 251, 251, 0.4);
}
.privacy-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-align: center;
        color: rgba(251, 251, 251, 0.4);
}
/* #endregion */

  /* #region --MOBILE-MENU-- */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e1823;
    /* Темний фон з макета */
    z-index: 1000;
    padding: 20px 0;

    /* Анімація відкриття */
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.mobile-menu.is-open {
    transform: translateX(0);
}
.mobile-menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    padding: 7px 20px;
    height: 42px;
}
.menu-close-btn {
    display: flex;
    background: transparent;
    border: none;
    fill: #055545;
}
.mobile-nav {

}
.mobile-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin-bottom: 259px;
    margin-top: 0;
}
.mobile-nav-link {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    max-width: 91px;
    height: 40px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(27, 65, 75, 0.5);;
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
    background-color: #1b414b;
    color: #fbfbfb;
    outline: none;
}

.mobile-socials {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
}


/* Налаштування для Retina екранів */
@media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
.activities-banner {
        background-image: url('../images/mobile/Photo-banner@2x (1).jpg');
    }
}
/* #endregion */

@media screen and (min-width: 768px) {
    /* #region HEADER */
        .page-header {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            max-width: 768px;
            padding: 32px 32px;
            background-color: transparent;
            z-index: 10;
        }
        
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 48px;
            padding: 0 16px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        .nav-list {
            display: flex;
            align-items: center;
            gap: 4px;
        }
        .nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 91px;
            height: 40px;
            padding: 0 16px;
            border-radius: 8px;
            font-weight: 400;
            font-size: 9px;
            text-transform: uppercase;
            color: #fbfbfb;
            background-color: rgba(27, 65, 75, 0.5);
            transition: all 0.3s ease;
        }

        .nav-link:hover,
        .nav-link:focus {
            background-color: #1b414b;
            color: #fff;
        }
       
        .burger-btn {
            display: none;
        }
/* Соцмережі справа */
.header-socials {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    list-style: none;
}

.header-social-icon {
    fill: #062730;
    transition: fill 0.3s ease;
}
.header-social-icon:hover,
.header-social-icon:focus {
    fill: #1b414b;

}
/* #endregion */

/* #region --HERO-- */
.hero-section {
    padding: 280px 0 282px;
    background-size: cover;
    background-position: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../images/tablet/image-tablet@1x.jpg');
    
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url('../images/tablet/image-tablet@2x.jpg');
    }
}

.hero-title {
    /* Заголовок стає значно більшим */
    font-weight: 500;
    font-size: 70px;
    line-height: 1.0;
    max-width: 704px;
    /* Обмежуємо ширину, щоб текст гарно розбився на рядки */
    margin: 0 auto 24px;
}

.hero-text {
    /* Текст під заголовком */
    font-size: 16px;
    line-height: 1.4;
    max-width: 597px;
    margin: 0 auto 40px;
    color: rgba(251, 251, 251, 0.7);
}

.hero-btn {
    /* Кнопка на планшеті */
    width: 179px;
    height: 52px;
    font-size: 18px;
}
/* #endregion */

/* #region --ABOUT-- */

.about {
    padding-bottom: 80px;
    /* Збільшуємо відступ знизу */
}

/* Контейнер для білої плашки */
.about-content {
    min-height: 675px;
    padding: 50px 32px;
    margin-top: -80px;
    /* Сильніше накладання на Hero, якщо потрібно за макетом */
    border-radius: 24px;
}
.about-title {
    font-size: 48px;
    /* Заголовок стає значно більшим */
    line-height: 1.1;
    margin-bottom: 50px;
    max-width: 536px;
}
.about-subtitle {
    font-size: 23px;
    margin-bottom: 20px;
    max-width: 390px;
}

.about-text {
    font-size: 13px;
    line-height: 1.15;
    max-width: 390px;
}
/* Блок із фотографією */
.about-photo {
    margin-top: -154px;
    /* Відступ від тексту до фото */
    border-radius: 26px;
    height: 470px;
}

.about-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* #endregion */

/* #region --YACHTS--*/
.yachts-section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.yachts-title {
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    max-width: 665px;
}
.yachts-list {
    display: flex;
    flex-wrap: wrap;
    /* Відступи між картками: 32px по вертикалі, 24px по горизонталі */
    gap: 32px 24px;
    justify-content: center;
}

.yachts-item {
    width: calc((100% - 24px) / 2);
}

/* Стилізація карток */
.yacht-card {
    background-color: #ffffff;
    border-radius: 24px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.yacht-card-img {
    width: 100%;
    /* Використовуємо пропорції з макета для фото в картці */
    height: 280px;
    object-fit: cover;
}

.yacht-card-content {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.yachts-item:nth-child(2) {
    display: block;
}

/* #endregion */

/* #region --ACTIVITIES-- */
.activities-wrapper {
    padding: 80px 32px;
}
.activities-list {
    flex-direction: row;
    /* Текст стає в ряд */
    flex-wrap: wrap;
    /* Дозволяємо перенос на 2 рядки */
    gap: 32px 24px;
    /* Відступи між картками */
}
.activities-item {
/* Розрахунок 2х2: (100% - відступ 24px) / 2 */
    width: calc((100% - 24px) / 2);
}
.activities-banner {
    height: 410px;
    margin-top: 40px;
    /* Підключаємо фото для планшета */
    background-image: url('../images/tablet/banner-tablet@1x.jpg');
}

/* Retina для планшета */
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .activities-banner {
        background-image: url('../images/tablet/banner-tablet@2x.jpg');
    }
}
















}
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1216px;
    }

    .yachts-item:nth-child(3) {
        display: block;
        /* Показуємо ТРЕТЮ картку */
    }

    .yachts-item {
        width: calc((100% - 48px) / 3);
        /* Три картки в ряд */
    }

    .yacht-img {
        height: 268px;
        /* Висота фото для десктопа */
    }
        .activities-banner {
            height: 440px;
            background-image: url('../images/desktop/Photo-banner@1x.jpg');
        }
        }


/* 4. ВЕЛИКИЙ ДЕСКТОП (від 1440px) */
@media screen and (min-width: 1440px) {
    .container {
        max-width: 1320px;
        /* Розширюємо для 1440px */
    }
}









